



.card_container.temperature {
    background: linear-gradient(#2F86A6, #34BE82, #FFCC1D);
}
.card_container.temperature:before {
    background: linear-gradient(#FFCC1D, #34BE82, #2F86A6);
}


/* image */ 

.card_container.temperature .background {
    background: url('../images/thermometer.png') no-repeat center;
}

/*box */ 
.card_container.temperature .box:before {
    background: #FFCC1D;
    opacity: 0.2;
}
.card_container.temperature:hover .box:before {
    background: #2F86A6;
    opacity: .3;
}


/* content ---------  text*/

.card_container.temperature .box-content .box-content-list .text input {
    color: #FFCC1D;
}